h1 {
    font-size: 2.5rem;
    text-align: center;
}

#form {
    width: 100%;
    margin: 10px;
    max-width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    .form-group {
        label {
            font-weight: bold;
            /* font-size: 1.5rem; */
        }

        input {
            padding: 0.9rem;
            outline: none;
            border: 3px solid #004c3f;
            border-radius: 5px;
        }
    }


}